div {
    border-style: solid;
    border-color: coral;
    background-color: rgb(121, 144, 160)
    

  }


  div1 {
    border-style: solid;
    border-color: rgb(92, 80, 255);
    background-color: rgb(121, 160, 129)
  }
  
  